body {
    background: rgb(66,41,26);
    background: linear-gradient(90deg, 
    rgba(66,41,26,0.8923704481792717) 11%, 
    rgba(111,67,42,0.8987289915966386) 43%, 
    rgba(152,102,59,0.8903256302521008) 93%);
}


.nav_bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space_between;

    list-style: none;
    
    overflow: hidden;
    border: white;
    border-style: double;
    border-width: 3px;
    padding: 14px;
    text-shadow: black;
    font: menu;
}

.nav_bar_logo {
    color: white;
    order: 0;
    padding: 10px;
}
.nav_bar_item {
    order: 1;
    display: block;
    width: auto;
    padding: 10px;
}

.button {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding 14px 28px;
    font-size: 16px;
    cursor: pointer;
}

