.fullBoard {
    display: flex;

    padding: 100px;

    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;

    min-height: 200px;
    max-width: 1440px;
    max-height: 400px;
    margin: auto;
}

#board {
    display: grid; 
    
    grid-template-rows: repeat(2, 50%);
    grid-gap: 10px; 
    
    align-content: center; 
    order: 2; 
}

.field {
    font-family: sans-serif;
    color: white;
    text-align: center;

    /* position: relative; */

    background-color: rgba(255,255,255,0);
    
    border: 2px solid white;
    border-radius: 50%;
    
}

.playerField:hover {
    background-color: rgba(255, 255, 255, 0.514);
}

.warehouse {
    grid-row: 1 / 3;

    color: rgb(32, 32, 32);
    font-family: sans-serif;
    text-align: center;
    font-size: 450%;

    width: 10%;

    border: 1px solid black;
    border-radius: 10%;

    background-color: white;
}

#playerWarehouse {
    order: 5;
}

#oppWarehouse {
    order: 0;
}

input[type="radio"] + label {
    color: black;
}

.radioButtons {
    list-style-type: none;
}

.overlay {
    display: none;

    position: absolute;
    width: 50%;
    height: 70%;
    z-index: 2;
    margin: 7% 25%;

    border: 3px solid white;
    border-radius: 1%;

    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.35);
}

.overlayMenu {

    display: flexbox;

    padding-left: 2%;
    width: 18%;

    align-content: center;

    margin-left: 15px;
    margin-top: 15px;
    
    border: 2px solid black;
    border-radius: 5%;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

#settingsOverlay {
    display: none;
}

#rulesOverlay {
    display: none;
}

#leaderboardOverlay {
    display: none;
}